certifi
chardet
Click
dash
dash-auth
dash-core-components
dash-html-components
dash-renderer
decorator
Flask
Flask-Compress
Flask-SeaSurf
gunicorn
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
nbformat
pandas
plotly
pymongo[srv]
pyparsing
dnspython
pytz
requests
retrying
jupyter-dash
